.header-out {
	box-shadow: 0px 3px 5px 0px rgba(81, 43, 0, 0.1);
}

/* 绑定账户 */
.bind-qq {
	width: 600px;
	margin: 28px auto;
	background: rgba(248, 250, 252, 1);
	border-radius: 10px;
	margin-bottom: 0;
}

.bind-qq-top {
	margin-top: 40px;
	padding: 16px 28px;
	height: 113px;
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(247, 247, 247, 1);
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.07);
	border-radius: 12px;
}

.bind-qq-top img {
	float: left;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 18px;
}

.bind-qq-top div {
	float: left;
	width: 444px;
}

.bind-qq-top h2 {
	margin-top: 20px;
	font-size: 18px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
	margin-bottom: 15px;
}

.bind-qq-top h5 {
	color: rgba(153, 153, 153, 1);
	font-size: 14px;
	font-weight: 400;
}

.bind-qq-top h5 span {
	color: rgba(223, 50, 37, 1);
	font-size: 14px;
}

.bind-qq-bottom {
	padding-left: 60px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.bind-new-old {
	position: relative;
}

.bind-new-old h3 {
	margin-bottom: 50px;
	margin-right: 55px;
	cursor: pointer;
	width: 100px;
	color: #333;
	height: 16px;
	font-size: 16px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	float: left;
}

.bind-new-old-change-color {
	color: rgba(223, 50, 37, 1);
}

.bind-change-animate {
	height: 6px;
	width: 20px;
	border-radius: 3px;
	background: rgba(223, 50, 37, 1);
	position: absolute;
	bottom: 30px;
	left: 36px;
	transition: 0.5s;
}

.bind-new {
	display: none;
}

.bind-old-phone,
.bind-old-possword {
	line-height: 40px;
}

.bind-old-possword {
	margin-left: 55px;
}

.bind-old-phone,
.bind-old-possword span {
	font-size: 14px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
}

#bind-old-possword-inp,
#bind-old-phone-inp {
	width: 275px;
	line-height: 36px;
	color: #333;
	border: 1px solid rgba(228, 228, 228, 1);
	border-radius: 4px;
	padding-left: 10px;
	background: rgba(248, 250, 252, 1);
}

#prompt-wrong {
	font-size: 12px;
	color: red;
	margin-left: 145px;
	line-height: 20px;
	font-weight: 400;
}

#binding {
	display: block;
	width: 129px;
	height: 40px;
	background: rgba(223, 50, 37, 1);
	border-radius: 20px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
	margin: 30px 0;
	margin-left: 180px;
}

.bind-new {
	font-size: 14px;
	font-family: MicrosoftYaHei-Bold;
	font-weight: bold;
	color: rgba(51, 51, 51, 1);
}

.bind-new input {
	width: 275px;
	line-height: 36px;
	color: #333;
	border: 1px solid rgba(228, 228, 228, 1);
	border-radius: 4px;
	padding-left: 10px;
	background: rgba(248, 250, 252, 1);
}

.bind-new-zhucema {
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	color: rgba(102, 102, 102, 1);
	margin-bottom:25px;
}
.bind-new-zhucema img{
	border-radius: 10px;
}
.bind-new-email {
	margin-left: 55px;
}

.bind-new-phone {
	margin-left: 42px;
}

.bind-new-email-num {
	margin-left: 42px;
}

.bind-new-email {
	margin-left: 55px;
}

.bind-new-possword {
	margin-left: 69px;
}

.bind-new-possword-again {
	margin-left: 27px;
}

.bind-new-yanzhengma {
	margin-left: 41px;
}

.bind-new-yanzhengma input {
	width: 184px;
}

.bind-new-yanzhengma img {
	float: right;
	height: 40px;
	width: 90px;
	margin-right: 102px;
}

#zhuce-bind {
	width: 161px;
	line-height: 40px;
	background: rgba(223, 50, 37, 1);
	border-radius: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	display: block;
	margin: 6px 0;
	margin-left: 160px;
	margin-top: 20px;
	outline: none;
}
.bind-old-padding{
	height: 372px;
}

.footer-out{
	height：270px;
	margin-top:-270px;
}
